<h1 class="header-index">My Tasks</h1>

<% flash.each do |name, msg| %>
<p class="flash-message">
    <%= msg %>
</p>
<% end %>

<%= render 'shared/tasks_table' %>
<hr>
<div class="my-link">
    <%= link_to  "Create a new Task", new_task_path, class:"btn-this-app" %>
</div>
