// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.tasks-dd{
    color: #007bff;
    cursor: pointer;
}

.dd-shadow{
    box-shadow: 1px 1px 5px 1px lightgray;

    li{
        &:hover{
            background-color: lightgrey;
        }
    }
}
